registry = https://artifacts.schibsted.io/artifactory/api/npm/npm-virtual
_auth = bWFydGluLmRhbmllbHNvbkBzY2hpYnN0ZWQuY29tOkFLQ3AyVnBaU2hhRUF4YlZVa0NETnlpZXJOS0R4Y1R0WUN2NXFnZWJ5UFZkeUR2QzhndkxYVkZ1OXFHaHFmeUVNM2ljRzNWN3k=
always-auth = true
email = martin.danielson@schibsted.com
