.root {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background: rgba(0, 0, 0, .1);
}

.container {
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background: rgba(0, 0, 0, .1);
}

.close {
    position: absolute;
    top: 16px;
    right: 16px;
    visibility: hidden;

    height: 16px;
    width: 16px;
    text-decoration: none;
    color: gray;
    text-shadow: 0 1px 0 white;
}

.close:before {
    box-sizing: border-box;
    visibility: visible;
    height: 16px;
    width: 16px;

    display: flex;
    overflow: hidden;
    content: '\D7';
    font-size: 28px;
    line-height: 12px;
}

.image {
    max-height: 70px;
    margin: 16px 0;
}

.text {
    flex-direction: column;
    margin: 0 16px;

    font-family: arial;
}

.title {
    font-weight: bold;
    margin-bottom: 0;
}

.message {
    margin-top: 0;
}

.link {
    border-radius: 3px;
    border: 1px solid gray;
    background: white;
    padding: 8px 16px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    white-space: nowrap;
}
